<h2 style="text-align: center"> Users</h2>
<hr>
<ng-container *ngIf="!isFetching; else busyLoading">
  <ng-container *ngIf="!errorMsg; else errorMessage">
    <table class="table">
      <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Usage</th>
        <th scope="col">Cap</th>
      </tr>
      </thead>
      <tbody>
      <tr (click)="onRowSelected(user)"
          *ngFor="let user of users"
          [ngStyle]="{backgroundColor: (selectedUser?.id === user.id) ? 'lightgrey' : 'transparent',cursor: 'pointer'}">
        <th scope="row">{{user.id}}</th>
        <td>{{user.firstName}}</td>
        <td>{{user.lastName}}</td>
        <td>{{user.usageInBytes | byteUnitConvertor:'MB'}} ({{user.usageRatio | percent}})</td>
        <td>{{user.capAllocationInBytes | byteUnitConvertor:'MB'}}</td>
      </tr>
      </tbody>
    </table>
  </ng-container>
  <ng-template #errorMessage>
    <h5> Server Error: {{errorMsg}}</h5>
  </ng-template>
</ng-container>
<ng-template #busyLoading>
  <h5> Busy loading user data...</h5>
</ng-template>
