<h2 style="text-align: center"> User Usage Chart</h2>
<hr>
<ng-container *ngIf="userDataLoaded">
  <ng-container *ngIf="selectedUser; else userNotSelected">
    <div *ngIf="selectedUser" class="col-12">
      <h2 style="text-align: center">{{selectedUser.firstName}} {{selectedUser.lastName}}</h2>
      <h5 style="text-align: center">Allocated Cap {{selectedUser.capAllocationInBytes | byteUnitConvertor:'MB'}}</h5>
      <hr>
      <div style="display: block">
        <canvas [chartType]="doughnutChartType"
                [data]="doughnutChartData"
                [labels]="doughnutChartLabels"
                baseChart>
        </canvas>
      </div>
    </div>
  </ng-container>
  <ng-template #userNotSelected>
    <div class="col-12">
      <h5 class="empty-chart">Please select a user to view data usage chart.</h5>
    </div>
  </ng-template>
</ng-container>

